.header{
    display: flex;
}
h2{
    color: #469DA4;
    margin-left: 7.7%;
    margin-top: 5%;
}
h5{
    margin-top: 5%;
    margin-left: 55%;
}
h5 a{
    color: #469DA4;
    text-decoration: none;
}